.login-form .form-row {
  margin-bottom: 1rem;
}

.login-form .form-row label, .login-form .form-row input {
  display: block;
}

.login-form .form-row label {
  margin-bottom: 0.5rem;
}

.login-form .form-row input {
  width: 100%;
}